@import url('https://api.fontshare.com/v2/css?f[]=satoshi@900,700,500,300,400&display=swap" rel="stylesheet');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Satoshi', sans-serif;
}

body{
    background-color: #000;
}
.content{
    margin-top: 50px;
}
.topbar{
    background-color: #0e0e0e;
    height: 50px;
    transform: translateY(-50px);
    position: fixed;
    width: 100%;
}
.topbar .atoz{
    width: 40px;
    height: 30px;
    font-weight: 500;
    background-color: #2a2a2a;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 10px;
    float: right;
    margin-right: 30px;
    transform: translateY(11px);
}
.topbar .atoz i{
    font-size: 20px;
}
.topbar .logo{
    margin-left: 20px;
    transform: translateY(5px);
    height: 40px;
}
.gamerow{
    width: 100%;
    display: flex;
}
.gamerow .gameimg{
    height: 110px;
    width: 50%;
    margin-top: 3px;
    padding: 3px;
    border-radius: 20px;
    object-fit: cover;
}
.gamelist{
    text-align: center;
}
.gamelist .letter{
    color: #fff;
    font-size: 30px;
    padding-top: 20px;
}
.gamelist .gamename{
    color: #fff;
    font-size: 23px;
    text-decoration: none;
    display: block;
}
.gameplay{
    position: fixed;
    width: 100%;
}
.gameplay .backbutton{
    position: fixed;
    z-index: 99;
    background-color: #000;
    margin-top: 15px;
}
.gameplay .backicon{
    height: 46px;
    z-index: 9;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    outline: solid 1px #ffffff2c;
}
.gameplay .game{
    width: 100%;
    z-index: 1;
    height: 100vh;
}
::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    color: #3e3e3e;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(112, 112, 112, 0.441); 
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #7e7e7e; 
  }