@import url('https://api.fontshare.com/v2/css?f[]=satoshi@900,700,500,300,400&display=swap" rel="stylesheet');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Satoshi', sans-serif;
}

body{
    background-color: #000;
}
.content{
    margin-top: 55px;
}
.topbar{
    background-color: #0e0e0e;
    height: 55px;
    transform: translateY(-56px);
    position: fixed;
    width: 100%;
}
.topbar .atoz{
    width: 40px;
    height: 33px;
    font-weight: 500;
    background-color: #2a2a2a;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 10px;
    float: right;
    margin-right: 30px;
    transform: translateY(11px);
}
.topbar .atoz i{
    font-size: 24px;
    transform: translateY(1px);
}
.topbar .logo{
    margin-left: 20px;
    transform: translateY(5px);
    height: 44px;
}
.gamerow{
    width: 100%;
    display: flex;
}
.gamerow .gameimg{
    height: 125px;
    width: 50%;
    margin-top: 3px;
    padding: 3px;
    border-radius: 23px;
    object-fit: cover;
}
.gamelist{
    text-align: center;
}
.gamelist .letter{
    color: #fff;
    font-size: 30px;
    padding-top: 20px;
}
.gamelist .gamename{
    color: #fff;
    font-size: 23px;
    text-decoration: none;
    display: block;
}
.gameplay{
    position: fixed;
    width: 100%;
}
.gameplay .backbutton{
    position: fixed;
    z-index: 99;
    background-color: #000;
    margin-top: 15px;
}
.gameplay .backicon{
    height: 46px;
    z-index: 9;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    outline: solid 1px #ffffff2c;
}
.gameplay .game{
    width: 100%;
    z-index: 1;
    height: 100vh;
}
.screensizemessage{
    display: none;
}
::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    color: #3e3e3e;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(112, 112, 112, 0.441); 
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #7e7e7e; 
  }

  @media screen and (min-width: 550px) {
    .content{
        display: none;
    }
    .topbar{
        display: none;
    }
    .gameplay{
        display: none;
    }
    .screensizemessage{
        display: block;
        color: #fff;
        text-align: center;
        padding-left: 150px;
        padding-right: 150px;
        padding-top: 90px;
    }
    .screensizemessage h1{
        font-size: 40px;
    }
    .screensizemessage h2{
        margin-top: 20px;
        font-weight: 400;
        font-size: 30px;
    }
    .screensizemessage .errorlogo{
        height: 70px;
    }
    .screensizemessage h3{
        margin-top: 20px;
        font-size: 21px;
        font-weight: 300;
    }
    .screensizemessage .redirect{
        margin-top: 30px;
        width: 240px;
        height: 50px;
        font-size: 20px;
        border: none;
        border-radius: 15px;
        cursor: pointer;
    }
}